/* Write your CSS here */
.outerCard {
  background-color: red;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40%;
}
.logoContainer {
  width: 100px;
}
.logo {
  width: 100%;
}
Link {
  display: flex;
  flex-direction: row;
}
